@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {

    background-image: url(assets/bg.jpg);
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100 vw);
}

.main .box {

    height: 100vh;
    width: 100%;
    opacity: 0.50;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;

}

nav img {

    width: 120px;
    fill: red;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    padding: 0px 30px;
    gap: 23px;
}

.hero> :nth-child(1) {
    font-size: 47px;
    font-weight: 900;
    align-items: center;


}

.hero> :nth-child(2) {

    font-size: 25px;
    font-weight: 400px;

    align-items: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 270px;

    align-items: center;
}

.hero .box1 {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 15px;
}


.box1 button {
    color: white;
    font-size: 24px;
    background-color: red;
    padding: 16px 17px 16px 25px;
    border-radius: 8px;
    font-weight: 200px;
    cursor: pointer;
}

.main input {
    padding: 18px 136px 18px 121px;
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 7px;
    color: white;
}

.main .English {
    background-color: rgba(247, 237, 237, 0.014);
    border-radius: 5px;
    padding: 2px;
    height: 30px;
    padding: 5px 15px 5px 15px;
    color: white;
    cursor: pointer;

}

.main .Sign {
    background-color: red;
    color: white;
    font-weight: 400px;
    border-radius: 5px;
    height: 30px;
    padding: 5px 15px 5px 15px;
    align-content: center;
    cursor: pointer;
}


.main .border {
    width: 100%;
    height: 7px;
    background-color: rgb(35, 35, 35);

}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}


section.first>div :nth-child(2) {
    font-size: 24px;

}

.border2 {
    height: 7px;
    background-color: rgb(35, 35, 35);
    width: 100%;
}

.second {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 90vw;
    margin: auto;
    gap: 50px;
    text-align: left;

}

.secImg2 {
    display: flex;
    position: relative;
    height: 30vw;

}

.secImg2 img {

    z-index: 1;
    padding: 4vw;
}

.second .text2 {
    display: flex;
    flex-direction: column;
    padding: 32px 0;

}

.second .text2 :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

.second .text2 :nth-child(2) {
    font-size: 24px;
    font-weight: 400;

}

.third {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 50px;
    margin: auto;
    width: 70vw;


}

.third .text3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.third .text3 :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

.third .text3 :nth-child(2) {
    font-size: 24px;
    font-weight: 400px;


}

.third .secImg3 {
    position: relative;

}

.secImg3 img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg3 video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
    width: 100vw;
    margin: auto;
    text-align: left;


}

.secImg4 {
    position: relative;
    height: 34vw;

}

.secImg4 img {
    z-index: 1;
    padding: 2vw;
}

.text4 {
    display: flex;
    flex-direction: column;
    gap: 15px;


}

.text4 :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;

}

.text4 :nth-child(2) {
    width: 30vw;
    font-size: 22px;
    font-weight: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 30px;
    gap: .5vw;
}

.footer h2 {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    position: relative;

}

.footer img {
    filter: invert(0);
}

.footer .shape {
    display: flex;
    justify-content: space-between;
    width: 72vw;
    background-color: rgb(35, 35, 35);
    padding: 1.7vw 2vw;
    cursor: pointer;
    position: inherit;
    transition: all 1s ease-out;
    margin: auto;

}

.shape :nth-child(1) {
    color: white;
    font-size: 40px;
    font-weight: 200px;
}

.footer .line {
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.footer .line :nth-child(1) {
    font-size: 24px;
    color: white
}

.footer input {
    padding: 18px 136px 18px 121px;
    background-color: rgba(23, 23, 23, 0.3);
    border-radius: 7px;
    color: white;
}

.footer .box2 button {
    color: white;
    font-size: 24px;
    background-color: red;
    padding: 9px 17px 16px 25px;
    border-radius: 8px;
    font-weight: 200px;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
    color: white;
    display: flex;
    align-items: center;
}


.footer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}


.footer1 a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.footer1 button{
    background-color: rgba(247, 237, 237, 0.014);
    border-radius: 5px;
    border-color: white;
    padding: 2px;
    height: 30px;
    padding: 5px 15px 5px 15px;
    color: white;
    cursor: pointer;
    width: 8vw;
}
